extends email

block content

    tr
    td.cta-block__content(style='padding: 20px 0 2px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    | Hi #[strong #{name}],
    tr
    td.cta-block__content(style='padding: 20px 0 27px 0; font-size: 16px; line-height: 30px; color: #969696; text-align: left;')
    p Welcome to The Equilibra!
    
    p We are excited to have you join on the quest to revitalise our institutions for the undistracted development and growth of our beloved country-Nigeria.  
    
    p The Equilibra provides you access to fora to contribute your voice, knowledge, skills, experience and action to engage our public institutions and servants for results, improvements and keeping their focus on service to the people.
  
    p Your account has now been activiated and we look forward to your positive contributions.

    tr
    td.cta-block__content(style='padding: 10px 0 27px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    p Thanks, 
    p The Equilibra Team!


