extends email

block content
    p Hi Admin,

    p You were sent to a contact us message from #{email} by #{name} on the web platform.

    p Here is the content.

    p
        blockquote
            b #{message}

    p Regards.
    p theequilbra@gmail.com
