//- Handy mixin for making buttons
mixin button(url, text)
  table.btn.btn-primary(border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(border='0', cellpadding='0', cellspacing='0')
            tbody: tr: td: a(href=url, target='_blank')= text

html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style
        include style.css
  table(style='font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;')
  table.full-width-container(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' bgcolor='#E8F5F0' style='width: 100%; height: 100%; padding: 30px 0 30px 0; background: #E8F5F0;')
    td(align='center' valign='top')
      table.container(border='0' cellpadding='0' cellspacing='0' width='640' bgcolor='#ffffff' style='width: 640px;')
        tr
          td(align='center' valign='top')
            table.container.projects-list(border='0' cellpadding='0' cellspacing='0' width='100%' style='margin-top: 20px')
              tr
                td
            table.container.cta-block(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(align='center' valign='top')
            table.container(border='0' cellpadding='0' cellspacing='0' width='620' style='width: 620px;')
                      block content