table.container(border='0' cellpadding='0' cellspacing='0' width='100%' align='center' style='background:#e8f5f09e;')
  tr
    td(align='center')
      table.container(border='0' cellpadding='0' cellspacing='0' width='620' align='center' style='width: 620px;')
        tr
          td(style='text-align: center; padding: 50px 0 10px 0;')
            a(href='#' style='font-size: 13px; line-height:20px; text-decoration: none; color:#666;')
              | Copyright &copy; 2019 EQUILIBRA.

        tr
          td(valign='top' align='center' style='border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;')
            table(style='font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;')
              tr
                td.social(align='center' valign='middle' style='border-collapse: collapse;border: 0;margin: 0;padding: 10px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;text-align: center;')
                  table(style='font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;')
                    tr
                      td(style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #000000;font-family: 'Poppins',Arial, sans-serif;font-size: 12px;line-height: 26px;")
                        | info@theequilibra.com
                      td(style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: 'Poppins',Arial, sans-serif;font-size: 16px;line-height: 26px;")
                        | |
                      td(style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color:#000;font-family: 'Poppins',Arial, sans-serif;font-size: 12px;line-height: 26px;")
                        | +234 000 000 0000
        tr
          td(valign='top' align='center' style='border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;')
            table(style='font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;')
              tr
                td.social(align='center' valign='middle' style='border-collapse: collapse;border: 0;margin: 0;padding: 10px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;text-align: center; padding-bottom:50px;')
