extends email

block content

    tr
    td.cta-block__content(style='padding: 20px 0 2px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    | Dear  #[strong #{name}],
    tr
    td.cta-block__content(style='padding: 20px 0 27px 0; font-size: 16px; line-height: 30px; color: #969696; text-align: left;')
    
    p You have been Registered as an Organization

    p Your password is #{password}, You are adviced to change this password when you login.
    
    +button(activationLink, 'Login ->')

    pAll Future notifications will be sent to this email address.
    br

    p If you didn't request this email, please ignore it.
   
    tr
    td.cta-block__content(style='padding: 10px 0 27px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    p Regards, 
    p The Seclot Team!


