extends email

block content

    tr
    td.cta-block__content(style='padding: 20px 0 2px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    | Dear  #[strong #{name}],
    tr
    td.cta-block__content(style='padding: 20px 0 27px 0; font-size: 16px; line-height: 30px; color: #969696; text-align: left;')

    p To Reset your Forgotten Password, please follow the link below.

    +button(resetLink, 'Reset Password ->')
     
    p Thank you for choosing Seclot
    tr
    td.cta-block__content(style='padding: 10px 0 27px 0; font-size: 16px; font-weight:500; line-height: 27px; color: #444053; text-align: left;')
    p Regards, 
    p The Seclot Team!

