extends email

block content
    p Hi Admin

    p You were sent to a feedback from the mobile App platform with #{email} email by #{name}.

    p Here is the content.

    p
        blockquote
            b #{message} and the star ratings of the mobile App is #{rating} of 5 stars.

    p Regards.
    p theequilbra@gmail.com
