extends email


block content
    p Hi  #[strong #{name}],
    tr
    p Welcome to The Equilibra!
    
    p You are almost done with your account creation on The Equilibra! 
    
    p Please click the link below to verify your email and complete the process.
    
    table.btn.btn-primary(border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='center')
                    table(border='0', cellpadding='0', cellspacing='0')
                        tbody: tr: td: a(href=`${activationLink}` target='_blank') Verify your Account
    p Regards, 
    p The Equilibra Team!
   


